@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'ga';
}

@font-face {
    font-family: 'ga';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.navigation{
    width: 100%;
    position: absolute;
    margin: 0 auto;
    height: 80px;
    float: left;
    z-index: 100;
}

.navbar-brand{
    margin-left: 15px;
    padding-top: 18px;
}

.nav-item{
    margin-right: 200px;
}

.nav-link{
    padding-top: 18px;
}

#tubular-container{
    z-index: 0 !important;
}
.mainvideo{
    height: 1100px;
}
.carouselimage{
    line-height: 200px;
    position: relative;
    width: 100%;
    background-color: #fff;
}
.carouselimage > h1{
    text-align: center;
    padding-top: 150px;
    line-height: 50px;
    padding-bottom: 70px;
    font-size: 55px;
}
.carouselimage > h1 > span{
    font-size: 24px;
}
.imgtext{
    height: 300px;
    width: 500px;
    position: absolute;
    padding-top: 30px;
    margin: -15px 0 0 -250px;
    left: 50%;
    top: 25%;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(17, 15, 15, 0.5);
}
footer{
    padding-bottom: 100px;
    height: 200px;
    background-color: rgb(14, 12, 12);
    position: relative;
}

.btmenu{
    height: 50px;
    text-align: center;
    font-size: 18px;
    padding-top: 25px;
}

.btmenu li{
    position: relative;
    margin: 0  100px 0 100px;
    margin-top: 10px;
    display: inline-block;

}

.btmenu li a{
    text-decoration: none;
}

.copy{
    margin-top: 50px;
    text-align: center;
    color: #Fff;
}