@charset "utf-8";

@font-face {
    font-family: 'CookieRun';
    src: url('../../resources/Jaeheon/fonts/CookieRun\ Bold.ttf');
}
*{
    font-family: 'CookieRun';
}
#bodywrap{
    position: relative;
}
.navigation{
    position: relative;
    margin: 0 auto;
    width: 80vw;
    height: 70px;
    z-index: 100;
}

.imgslide{
    margin: 0 auto;
    margin-top: 20px;
    width: 80vw;
    height: 55vw;
}

.carousel-item>img{
    background-position: center;
}

.content{
    margin: 0 auto;
    width: 80vw;
}

.tab-pane{
    padding: 10px;
    line-height: 45px;
    font-size: 1.5vw;
    background-color: rgba(255, 255, 255, 0.4)
}

.content_card{
    text-align: center;
}

.card{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}

footer{
    position: relative;
    z-index: 99;
    margin: 0 auto;
    margin-top: 30px;
    width: 80vw;
    height: 100px;
    background-color: white;
}

.ftcontent{
    width: 80vw;
    height: 50px;
}

.ftmenu>ul>li{
    float: left;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin-right: 5vw;
    margin-top: 1vw;
}

.ftmenu>ul>li>a{
    color: black;
}

.ftmenu>ul>li>a:hover{
    text-decoration: none;
    color: blue;
}

.copy{
    text-align: center;
    color: black;
    width: 80vw;
    height: 50px;
}


